# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Create .env file using this file as a template.
# Define all your variables for local development as described below.
#
# - Authenticate locally with `gcloud auth application-default login` or point
#   GOOGLE_APPLICATION_CREDENTIALS to a service account key file.
# - Use environment variables with prefix "INPUT_" to simulate GitHub Actions input.
# - Use GITHUB_REPOSITORY environment variable to provide the GitHub repository and its owner
#   as a context in the script. Use format "owner/repo".

GOOGLE_APPLICATION_CREDENTIALS=
GCP_PROJECT_ID=
INPUT_MODE=
INPUT_GITHUB-TOKEN=
INPUT_PROJECT-ID=
INPUT_IMAGE=
INPUT_MACHINE-TYPE=
INPUT_ZONE=
INPUT_SUBNET=
INPUT_NETWORK=
INPUT_NETWORK-TAGS=
INPUT_LABEL=
INPUT_INSTANCE-ID=
INPUT_INSTANCE-ZONE=
GITHUB_REPOSITORY=
INPUT_BOOT-DISK-SIZE=
INPUT_BOOT-DISK-TYPE=
INPUT_SPOT=
INPUT_USE-JIT=
INPUT_RUNNER-GROUP-ID=
